
 .light-mode{
   --white-bg: #f4f4f4;
   --blue-bg: #96d4fc;
   --button-bg-color: #b5dffd;
   --font-color: #383838;
 }

  .dark-mode {
    --white-bg: #262729;
    --blue-bg: #133c57;
    --button-bg-color: #0e273c;
    --font-color: #f4f4f4;
  }

.main{
  width: 440px;
  height: 700px;
  margin-top: 22px;
  margin-bottom: 22px;
  border-radius: 40px;
  background-color: var(--blue-bg);
}



.display{
  width: 440px;
  height: 280px;
  border-radius: 40px 40px 0px 0px;
  background-color: var(--white-bg);
}

.icons{
  width: 100%;
  height: 80px;
}
.keyboard{
  width: 440px;
  height: 420px;
  padding: 20px;
}
.font{
  color:var(--font-color)
}
.operators{
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  padding-top: 10px;
  margin-bottom: 5px;
  height: 380px;
  background-color: var(--button-bg-color);
  div{
    border-radius: 40px;
    display: flex;
    height: 74px;
    justify-content: center;
    place-items: center;
  }
}
.lastdiv{
  background-color: white;
}
.kalans{
  display: flex;
  border-radius: 40px;
  margin-bottom: 15px;
  width: 85%;
  height: 60px;
  background-color: var(--button-bg-color);
  padding-right: 10px;
  padding-left: 10px;
  div{
    border-radius: 40px;
    width: 70px;
    place-items: center;
    justify-content: center;
    display: flex;
  }
}
.numbers{
  justify-content: space-between;
  float: left;
  display: flex;
  height: 370px;
  padding-right: 15px;
  padding-left: 10px;
  flex-wrap: wrap;
  div{
    border-radius: 40px;
    margin-left: 10px;
    margin-right: 10px;
    width: 65px;
    height: 65px;
    background-color: var(--button-bg-color);
    place-items: center;
    justify-content: center;
    display: flex;
  }
}
.theme-toggle-container{
  display: flex;
  justify-content: center; /* Yatayda ortalamak için */
  width: 140px;
  height: 60px;
  border-radius: 40px;
  padding-top: 5px;
  margin-top: 10px;
  background-color: #b5dffd;
}
  .theme-toggle {
    position: relative;
    height: 50px;
    background-color: #b5dffd;
    padding: 10px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.3s ease; /* Kayma efekti için geçiş ekleyin */
    z-index: 3; /* Ikonların diğer içeriklerin üstünde olmasını sağlayın */
  }

  .theme-toggle:hover {
    transform: scale(1.2); /* İkonun tıklanabilirliği artırmak için kayma efekti ekleyin */
  }

  .dark-mode .theme-toggle {
    background-color: #0e273c;
    color: #f4f4f4;
  }

  .dark-mode .theme-toggle-container{
    background-color: #0e273c;
  }
  .sonuc{
    width: 100%;
    height: 200px;
    padding-right: 15px;
  }
  .girilen{
    width: 100%;
    padding-top: 20px;
    font-family: 'Poppins', sans-serif;
    height:   50px;
  }
  .toplam{
    width: 100%;
    height: 80px;
    font-family: 'Poppins', sans-serif;
  }
  .history{
    padding-left: 100px;
    padding-top: 15px;
    color:var(--font-color);
  }
  .showhis{
    width: 100%;
    min-height: 80px;
    height: 80px;
  }

  @media (max-width: 767px) {
    .main{
      width: 400px;
      height: 630px;
    }
    .keyboard{
      width: 380px;
      height: 380px;
      padding: 10px;
    }
    .operators{
      display: flex;
      flex-direction: column;
      border-radius: 40px;
      padding-top: 10px;
      margin-bottom: 5px;
      height: 360px;
      width: 60px;
      background-color: var(--button-bg-color);
      div{
        border-radius: 40px;
        display: flex;
        height: 74px;
        justify-content: center;
        place-items: center;
      }
    }
    .theme-toggle-container{

      width: 140px;
      top: 10px;
      left: 130px;
    }
    .sonuc{
      width: 400px;
      height: 170px;
    }
    .girilen{
      width: 400px;
      height:   40px;
      padding-right: 10px;
    }
    .toplam{
      width: 400px;
      height: 70px;
      padding-right: 10px;
    }
    .history{
      padding-left: 80px;
      padding-top: 15px;
      color:var(--font-color);
    }
    .showhis{
      width: 100%;
      min-height: 40px;
      height: 80px;
    }
    .display{
      width: 400px;
      height: 280px;
    }
  }
